*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card{
    border: 1px solid black;
    border-radius: 5px;
    padding:2rem;
    background-color: whitesmoke;
    width: 35vw;
    position: relative;
    bottom: -45%;
    left: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 0 1px rgb(90, 55, 8);
}
.joke{
    color:rgb(114, 69, 18) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.generateBtn{
    border: 2px solid slateblue;
    border-radius: .5rem;
    padding: 10px 5px;
    margin-top: 2rem;
}
.generateBtn:hover{
    background-color: slateblue;
    color: white;
    transform: translate(3%, 2%);
    transition: all .2s ease-in-out;
    cursor: pointer;
    animation: rotate 0.7s ease-in-out both;
}